@page "/"
@inject HttpClient HttpClient

<div class="master-view-container row">
    <IgbDataGrid DataSource="northwindCloudApp1ApiCustomers" AutoGenerateColumns="false" Density="ControlDisplayDensity.Cosy" SelectionMode="GridSelectionMode.None" Width="100%" Height="100%" DefaultColumnMinWidth="136" class="grid" master-view-scope>
        <IgbTextColumn HeaderText="customerID" Field="CustomerID" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="companyName" Field="CompanyName" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="contactName" Field="ContactName" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="contactTitle" Field="ContactTitle" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="address" Field="Address" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="city" Field="City" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="region" Field="Region" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="postalCode" Field="PostalCode" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="country" Field="Country" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="phone" Field="Phone" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="fax" Field="Fax" IsFilteringEnabled="true"></IgbTextColumn>
    </IgbDataGrid>
</div>

@code {
    private NorthwindCloudApp1.ApiCustomersType[] northwindCloudApp1ApiCustomers = Array.Empty<NorthwindCloudApp1.ApiCustomersType>();

    protected override async Task OnInitializedAsync()
    {
        northwindCloudApp1ApiCustomers = await HttpClient.GetFromJsonAsync<NorthwindCloudApp1.ApiCustomersType[]>("https://northwindcloud.azurewebsites.net/api/customers") ?? northwindCloudApp1ApiCustomers;
    }
}
